# -FrontPage-

Options None

<Limit GET POST>
order deny,allow
deny from all
allow from all
require group authors administrators
</Limit>
<Limit PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthType Basic
AuthName newchinaacupuncture.com.au
AuthUserFile /var/www/vhosts/newchinaacupuncture.com.au/httpdocs/_vti_pvt/service.pwd
AuthGroupFile /var/www/vhosts/newchinaacupuncture.com.au/httpdocs/_vti_pvt/service.grp
